@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600&family=Lato&family=Manrope:wght@200;400&family=Merriweather:ital,wght@0,400;0,900;1,300&family=Montserrat:ital@1&family=Noto+Serif:ital@0;1&family=Playfair+Display&family=Quicksand:wght@300;400&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Quicksand", sans-serif;
  background-color: #14121a;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
h2 {
  margin: 10px 0 20px;
  text-align: center;
}
.container {
  background-color: #242436e1;
  padding: 20px;
  width: 350px;
  max-width: 100%;
  box-shadow: rgba(100, 110, 170, 0.25) 0px 14px 28px,
    rgba(83, 71, 71, 0.048) 0px 10px 10px;
}

.result-container {
  background-color: rgba(15, 15, 15, 0.438);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 12px 10px;
  height: 50px;
  width: 100%;
}
.result-container .btn {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 40px;
  height: 40px;
  font-size: 20px;
}
.result-container #result {
  word-wrap: break-word;
  max-width: calc(100%-40px);
}
.btn {
  border: none;
  background-color: rgb(57, 100, 180);
  color: #e6e4dc;
  font-size: 16px;
  padding: 8px 12px;
  cursor: pointer;
}
.btn-large {
  display: block;
  width: 100%;
}
.setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0;
}
